---
---

@import "{{ site.theme }}";

@import "simpleLightbox.min.css";

.slbOverlay{
    background-color: darkgray;
}
.slbImageWrap:after{
    box-shadow:none;
    background-color:rgba(0,0,0,0);
}

.note {
    background: #f090a5;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.black_title {
    color: black;
}